body {
  background: #e4e4e4;
}
h1 {
  color: rgb(67, 67, 67);
  padding-left: 20px;
}
h2 {
  color: rgb(147, 143, 143);
  padding-left: 20px;
}
h4 {
  margin-top: 0px;
  color: rgb(72, 69, 69);
  font-size: 0.9rem;
}
button,
input {
  color: rgb(67, 67, 67);
  margin: 10px 0px 10px;
  padding: 5px;
  font-size: 0.9rem;
  font-weight: bold;
}
div,
p {
  font-size: 0.9rem;
  color: rgb(67, 67, 67);
}

a {
  margin: 10px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
}

.container {
  height: 95px;
}
.black {
  color: black;
}

.black:hover {
  color: red;
}
a:hover {
  color: red;
}
button:hover {
  color: red;
}
img {
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 3;
  border: 1px solid #838080;
  object-fit: cover;
  object-position: center;
  box-shadow: rgba(46, 46, 55, 0.2) 0px 7px 29px 0px;
}
.cartImg {
  border: 0px;
  aspect-ratio: unset;
  box-shadow: none;
  width: 50px;
}
.bigImg {
  width: 50%;
  aspect-ratio: inherit;
  border: 1px solid #838080;
  object-fit: contain;

  border: 1px solid #838080;

  box-shadow: rgba(46, 46, 55, 0.2) 0px 7px 29px 0px;
}
.linkMenue {
  width: 100%;
  color: white;
  padding: 10px;
}
.App {
  max-width: 70rem;
  margin: 0 auto;
  background: rgb(240, 240, 240);
  height: 100%;
  padding: 20px;
}
.App-header {
  display: flex;
  background-color: #282c34;
  max-height: 120px;
  color: white;
  padding: 5px;
}
.rightHead {
  width: 90%;
}
.headline {
  display: block;
  padding-left: 10px;
  width: 100%;
  color: rgb(205, 205, 205);
}
.App-link {
  color: #61dafb;
}

.cart {
  text-align: center;
  border: 1px solid #e3e2e2;
  position: relative;
  right: 0px;
  top: -1px;
  background: #f4f3f3;
  padding: 10px;
  margin: 5px;
  width: 150px;
}
.cartItems {
  background: #f4f2f2;
  padding: 4px;
  border: 1px solid #e3e2e2;
  margin: 5px;
}
.summonPrice {
  color: rgb(148, 106, 74);
  position: relative;
  top: -57px;
  left: 4px;
}
.thumbs {
  width: 50px;
}
.list {
  height: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 2fr));
  gap: 1rem;
}
.filterButtons {
  border: none;
}
.filterButtons:hover {
  color: red;
}
.products {
  background: #f2f2f2;
  border: 1px solid #e3e2e2;
  background-color: #c0c9da;
  height: auto;
  padding: 30px;
  object-position: 50% 50%;
  box-shadow: rgba(38, 37, 37, 0.3) 0px 0px 10px 0px;
}
.details {
  border: 1px solid #e3e2e2;
  background-color: #c0c9da;

  padding: 10px;
  margin: 5px;
}
.adminUserList {
  display: inline-block;
  width: 100%;
}
.adminProductList {
  display: inline-block;
  width: 100%;
}
.adminItems {
  flex-direction: column;
  background: #f2f2f2;
  border: 1px solid #e3e2e2;
  color: #000000;
  padding: 5px;
}
.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1em;
  margin-top: 1em;
}
.amount {
  background: #e8f050;
  color: #886868;
  border: 1px solid #524f4f;
  padding: 5px;
  padding-left: 10px;
  text-align: center;
  margin: 5px;
}
.buttonText {
  color: #4b4949;
}
